.p-archive-mainVisual {
    width: 100%;
    height: 283px;
    background-image: url( 'image/archivepage/archiveTop_image.png' );
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    &__mask {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: row;
        align-items: center;
        @include sp {
            flex-direction: column;
            align-items: stretch;
        }
    }
    @include tab {
        height: 240px;
    }
    @include sp {
        height: 200px;
    }
}