.p-mainVisual {
    position: relative;
    width: 100%;
    // background-size: 100%;<?php echo get_custom_header()->height; ?><?php echo get_custom_header()->width; ?>
    &--index {
        a {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(0,-50%);
        }
    }
    &--single, &--page {
        height: 400px;
        overflow: hidden;
        @include sp {
            height: 45vw;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            object-fit: cover; /* 画像の縦横比維持しながらメインビジュアルを覆う画像を配置 */
            width: 100%;
            height: auto; //WordPressによって画像がずれるためheightを指定
        }
        h1 {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            font-size: 4.3rem;
            color: white;
            @include sp {
                font-size: 2.8rem;
            }
        }
    }
}